* {
  background-color: rgba(24, 0, 37, 100%);
  text-color: rgba(255, 252, 255, 100%);
  width: 50%;
  height: 60%;
}

prompt {
  padding: 8px;
}

entry {
  padding: 8px;
}

element {
  padding: 8px;
}
