[Unit]
Description=User suspend actions
Before=sleep.target
[Service]
User=%i
type=forking
Environment="DISPLAY=:0"
ExecStart=/home/void/.config/i3/lock.sh
ExecPostStart=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
