[Unit]
Description=Lock %i's screen before suspend
Before=sleep.target

[Service]
Type=simple
User=%i
Environment=DISPLAY=:0
ExecStart=/home/%i/.config/i3/lock.sh

[Install]
WantedBy=sleep.target
